@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');

/* font-family: 'EB Garamond', serif; */


/* font-family: 'Inter', sans-serif; */

:root {
    --primary: #F47D31;
    --primary-light: #FFB17E;
    --primary-light: #FFB17E;
    --text-color: #3E4A59;
}

@media (max-width: 576px) {
    .container {
        min-width: 540px;
    }
    .card {
        width: 20rem;
        align-items: center;
    }
    .card-body {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .card {
        width: 100%;
    }
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.nav-bg {
    background-color: white;
}

.logo {
    width: 340px;
    height: 136px;
    padding-right: 3rem;
    padding-top: -2rem;
}

.jumbotron-heading {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size: 75px;
    line-height: 98px;
    color: var(--text-color);
    width: 500px;
}

.jumbotron {
    padding: 0;
    background: white;
}

.jumbotron-text {
    font-size: 18px;
    line-height: 22px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    width: 500px;
    margin-top: 40px;
    color: var(--text-color);
}

.primary-button {
    width: 154px;
    height: 51px;
    background-color: var(--primary);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: white;
    margin-top: 40px;
}

.form-button {
    background-color: var(--primary);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: white;
    margin-top: 40px;
}

.jumbotron-image {
    width: 521px;
    height: 684.63px;
}

.section-heading {
    font-weight: 600;
    font-size: 52px;
    line-height: 68px;
    font-family: 'EB Garamond', serif;
    color: var(--text-color);
    text-align: center;
}

.section-text {
    color: var(--text-color);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin-top: 16px;
}

.card-text {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 150%;
}

.card-text-bold {
    color: var(--text-color);
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
}

.card-sub-text {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 22px;
}

.card-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}

section {
    margin-top: 130px;
}

footer {
    background-color: var(--text-color);
}

footer p {
    font-family: 'EB Garamond', serif;
    color: #FEFEFE;
    font-weight: 300;
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    width: 576px;
    margin: auto;
    padding: 40px;
    margin-top: 32px;
}

footer img {
    width: 105px;
    height: 38px;
}

.form-heading {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size: 55px;
    line-height: 98px;
    color: var(--text-color);
    width: 700px;
    text-align: center;
    background: url(./Assets//highlight.svg);
    margin: auto;
}

form {
    background-color: #FFE1CE;
    width: 443px;
    height: 310px;
    margin: 32px auto;
    padding: 32px;
}

form div label {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}